@import url(animation.css);

body{
   font-family: "Lora", serif;
   font-optical-sizing: auto;
}

nav{
   position: fixed;
   top: 20px;
   left: 20px;
   color: white;
   display: flex;
}

nav a{
   color: white;
   display: inline-block;
   text-decoration: none;
}

.menu_icono{
   animation: moverIzquierda 1s ease-in;
   z-index: 100;
}

header{
   /* https://uigradients.com/#JShine */
   background: #12c2e9;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.container{
   width: 95%;
   max-width: 1200px;
   display: flex;
   align-items: center;
   margin: auto;
   justify-content: space-around;
   flex-wrap: wrap;
}


img{
   display: block;
   height: 450px;
   object-fit: cover; /* Mantiene la relación de aspecto al redimensionar */
   animation: moverArriba 1s ease-in;
}

.textos{
   width: 50%;
   color: white;
}

.textos h1{
   font-size: 80px;
   animation: moverDerecha 1s ease-in;
}

.textos h2{
   font-size: 30px;
   animation: moverIzquierda 1s ease-in;
}

.textos a{
   display: inline-block;
   color: white;
   font-weight: 300;
   text-decoration: none;
   margin-top: 30px;
   border: 1px solid white;
   width: 150px;
   border-radius: 3px;
   text-align: center;
   padding: 10px 0;
   animation: moverArriba 1s ease-in;
}


.menu_desplegable{
   position: fixed;
   display: flex;
   top: 0;
   background: black;
   justify-content: space-around;
   align-items: center;
   height: 100vh;
   width: 100%;
   left: 0;
   flex-direction: column;
   transition: all 1s ease;

   background: #12c2e9;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.clip_circle_1{
   clip-path: circle(0% at 0 0);
}


.clip_circle_2{
   clip-path: circle(150% at 0 0);
}