body{
   font-family: "Lora", serif;
   font-optical-sizing: auto;
}

nav{
   position: fixed;
   top: 20px;
   left: 20px;
   color: white;
}

nav a{
   color: white;
   display: inline-block;
}

header{
   /* https://uigradients.com/#JShine */
   background: #12c2e9;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   padding: 48px;
   width: 100%;
}


.container{
   width: 95%;
   max-width: 1200px;
   display: flex;
   align-items: center;
   margin: auto;
   justify-content: space-around;
}


img{
   display: block;
   height: 450px;
   object-fit: cover; /* Mantiene la relación de aspecto al redimensionar */
}

.textos{
   width: 50%;
   color: white;
}

.textos h1{
   font-size: 80px;
}

.textos h2{
   font-size: 30px;
}

.textos a{
   display: inline-block;
   color: white;
   font-weight: 300;
   text-decoration: none;
   margin-top: 30px;
   border: 1px solid white;
   width: 150px;
   border-radius: 3px;
   text-align: center;
   padding: 10px 0;
}

.wave{
   height: 100px;
   width: 100%;

   /* Copiado del header */
   background: #12c2e9;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}